@font-face {
    font-family:"Lauren Script";
    src:url("../fonts/LaurenScript/LaurenScript.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"LaurenScript Regular";
    src:url("../fonts/LaurenScript/LaurenScript.eot?") format("eot"),
    url("../fonts/LaurenScript/LaurenScript.woff") format("woff"),
    url("../fonts/LaurenScript/LaurenScript.ttf") format("truetype"),
    url("../fonts/LaurenScript/LaurenScript.svg#LaurenScript") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Georgia";
    src:url("../fonts/Georgia/Georgia.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face { 
    font-family:"Calluna-Regular";
    src:url("../fonts/CallunaRegular/Calluna-Regular.eot?") format("eot"),
    url("../fonts/CallunaRegular/Calluna-Regular.woff") format("woff"),
    url("../fonts/CallunaRegular/Calluna-Regular.ttf") format("truetype"),
    url("../fonts/CallunaRegular/Calluna-Regular.svg#Calluna-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Garamond";
    src:url("../fonts/Garamond/garamac.eot?") format("eot"),
    url("../fonts/Garamond/garamac.woff") format("woff"),
    url("../fonts/Garamond/garamac.ttf") format("truetype"),
    url("../fonts/Garamond/garamac.svg#GaramondMacronbyPaulKennett") format("svg");
    font-weight:normal;
    font-style:normal;
}